
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>


{% if user.is_authenticated %}
 <h3 style="float: right"> Logged in as: {{ user.get_username }}</h3>
          <h1>Hi {{ user.first_name }} {{ user.last_name }}. Welcome to Jyoti Django App welcome page!</h1><br><br>

        <button type="button" class="btn btn-primary" style="background-color: green"> <a style="color: snow " href="{% url 'homes' %}">Meetings</a>
          </button>
    <br><br><br>

     <button type="button" class="btn btn-primary" style="background-color: green">
    <a style="color: snow" href="{% url 'new' %}">Create New Meeting</a>
     </button><br><br>
    <button type="button" class="btn btn-primary" style="background-color: green">
    <a style="color: snow" href="{% url 'rooms' %}">Rooms Details</a>
     </button><br><br>

       <form method="post" action="{% url 'logout' %}">
           {% csrf_token %}
           <button type="submit">Logout</button>
       </form>


    {% endif %}



</body>
</html>

